body {
  background: #fcf0c8;
}

h1,
p {
  text-align: center;
}

.croissant-photo {
  max-width: 30%;
  border-radius: 10px;
  display: block;
  margin: 30px auto;
}

footer {
  text-align: center;
}

footer a {
  margin: 0 10px;
  color: #911f27;
}
